@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''), url(/fonts/integralCF-extrabold.woff2) format('woff2');
}

@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url(/fonts/integralCF-regular.woff2) format('woff2');
}

body {
  background-color: black;
  @apply font-main;
}
